body {
    display:flex;
    flex-direction:row;
    gap:50px;
}
.ui {
    display:flex;
    flex-direction: row;
    gap:30px;
}

.previewBoard {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
}

.boardOne, .boardTwo {
    display: grid;
    grid-template-columns: repeat(10, minmax(30px, 1fr));
    grid-template-rows: repeat(10, minmax(30px, 1fr));
}

.boardOne div, .boardTwo div, .previewBoard div {
    border: 1px black solid;
}

.ship {
    background-color: cyan;
}

form > div {
    border: 1px solid black;
    padding: 5px
}

.drag {
    display:flex;
}

.drag > div {
    border: 1px black solid;
    height: 48px;
    width:48px;
}

div.userInput>form>div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.drag.x {
    flex-direction: row;
}

.drag.y {
    flex-direction: column;
}