.ui {
    display:flex;
    flex-direction: row;
    gap:30px;
}

.previewBoard {
    display: grid;
    grid-template-columns: repeat(10, minmax(50px, 1fr));
    grid-template-rows: repeat(10, minmax(50px, 1fr));
}

.boardOne, .boardTwo {
    display: grid;
    grid-template-columns: repeat(10, minmax(30px, 1fr));
    grid-template-rows: repeat(10, minmax(30px, 1fr));
}

.boardOne div, .boardTwo div, .previewBoard div {
    border: 1px black solid;
}

.ship {
    background-color: purple;
}